.details-list {
  padding: 5px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
}

.details-item {
  border-radius: 5px;
  min-width: 230px;
  padding: 10px;
  background-color: var(--black);
  border: 1px solid var(--primary-color);
}

.details-month {
  font-size: calc(22rem / 16);
  text-transform: uppercase;
  text-align: center;
}

.details-percentage {
  display: inline-block;
  margin-left: 10px;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
}
