.header {
  text-align: center;
}

.header h1 {
  font-size: calc(45rem / 16);
  color: var(--black);
  text-shadow: 0 0 1px var(--primary-color), 0 0 1px var(--primary-color),
    1px 1px 1px var(--primary-color), 3px 3px 1px var(--primary-color),
    5px 5px 1px var(--primary-color);
}
