.form {
  max-width: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--black-shade);
  gap: 10px;
}

.form select {
  padding: 5px 10px;
}

.form label {
  font-size: calc(22rem / 16);
}
